/*
  Custom styles for Trackster App
*/

html{
  font-size: 16px;
}

body {
  color: rgb(74, 74, 74);
}

.row.header {
  background-color: rgb(35, 2, 63);
  height: 6rem;
}
.row h1 {
  font-family: Righteous;
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
  margin-top: 2rem;
}

.row input {
  margin-top: 2rem;
  height: 2.5rem;
  border-radius: 10px;
  width: 100%;
  color: rgb(191, 191, 191);
}


.row a {
  background-color: rgb(255, 102, 204);
  margin-top: 2rem;
  width: 80%;
  height: 2.5rem;
}

.row.columns {
  background-color: rgb(104, 0, 255);

}

h1 .main-title {
  transition-property: color;
}

.column {
  color: rgb(255, 255, 255);
}

#song-list {
  font-family: Work Sans, sans-serif;
  font-size: 1rem;
  color: rgb(74, 74, 74);
}

i{
  background-color: white;
}

.fa.fa-play-circle-o {
  color: rgb(255, 102, 204);
}
